name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v4.1.7"

      - name: "Set up Python"
        uses: actions/setup-python@v5.0.0
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "requirements-ha.txt"

      - name: "Install ruff (lint only)"
        run: python3 -m pip install ruff==0.4.9

      - name: "Run"
        run: python3 -m ruff check .
